
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="tp-content-wrapper">
    <iframe id="iframe" class="tp-iframe" src="/Admin/Welcome"></iframe>
</div>

