
@{
    Layout = null;
}

@Styles.Render("~/bundles/css-lib")
@Scripts.Render("~/bundles/script-lib")

<script src="~/Plugin/layer/layer.js"></script>

<link href="~/Plugin/ngtable/css/ng-table.css" rel="stylesheet" />
<script src="~/Plugin/ngtable/js/ng-table.js"></script>

<link href="~/Content/admin/admin-public.css" rel="stylesheet" />
<script src="~/Scripts/admin/admin-public.js"></script>
<link href="~/Content/admin/admin-layout.css" rel="stylesheet" />
<script src="~/Scripts/admin/admin-notice.js"></script>

<div class="tp-content" ng-app="app" ng-controller="noticeList">
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>内容</th>
                <th>状态</th>
                <th>排序</th>
                <th>
                    <label class="label label-success" data-toggle="modal" data-target="#notice-add">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;新增
                    </label>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in data">
                <td>{{$index+1}}</td>
                <td>
                    <input type="text" ng-model="d.content" />
                    <a class="tp-table-a" ng-click="Save(d)">修改</a>
                </td>
                <td>
                    <label class="label label-success" ng-if="d.enable">已启用</label>
                    <label class="label label-danger" ng-if="!d.enable">已停用</label>
                    <a class="tp-table-a" ng-if="d.enable" ng-click="SetEnable(d)">点击停用</a>
                    <a class="tp-table-a" ng-if="!d.enable" ng-click="SetEnable(d)">点击启用</a>
                </td>
                <td>
                    <label class="label label-info" ng-click="SetSort(d,sortType.up)"><i class="glyphicon glyphicon-arrow-up tp-lable-glyphicon"></i></label>
                    <label class="label label-warning" ng-click="SetSort(d,sortType.down)"><i class="glyphicon glyphicon-arrow-down tp-lable-glyphicon"></i></label>
                </td>
                <td>
                    <label class="label label-danger" ng-click="Delete(d)"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</label>
                </td>
            </tr>
        </tbody>
    </table>
    <!--Modal-->
    <div class="modal fade" id="notice-add" tabindex="-1" ng-controller="noticeAdd">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">通知添加</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>内容：</label>
                            <textarea class="form-control" rows="3" placeholder="请输入通知内容..." ng-model="noticeModel.content"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-sm btn-success" ng-click="Save()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
