<div class="tp-sidebar-wrapper">
    <nav class="sidebar-nav">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-bars"></span>&nbsp;单页管理</a>
                <ul>
                    <li><a href="/Admin/PageList">单页列表</a></li>
                    <li><a href="/Admin/PageAdd?id=0">单页添加</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-bars"></span>&nbsp;合作管理</a>
                <ul>
                    <li><a href="/Admin/PartnerList">合作列表</a></li>
                    <li><a href="/Admin/PartnerAdd">合作添加</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-bars"></span>&nbsp;轮播管理</a>
                <ul>
                    <li><a href="/Admin/BannerList">轮播列表</a></li>
                    <li><a href="/Admin/BannerAdd">轮播添加</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-bars"></span>&nbsp;导航管理</a>
                <ul>
                    <li><a href="/Admin/NavList">导航列表</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-bars"></span>&nbsp;链接管理</a>
                <ul>
                    <li><a href="/Admin/LinkList">链接列表</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-bars"></span>&nbsp;通知管理</a>
                <ul>
                    <li><a href="/Admin/NoticeList">通知列表</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-bars"></span>&nbsp;网站设置</a>
                <ul>
                    <li><a href="/Admin/Setting">网站设置</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-cube"></span>&nbsp;留言管理</a>
                <ul>
                    <li><a href="/Admin/MessageBoardList">留言列表</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-cube"></span>&nbsp;招聘管理</a>
                <ul>
                    <li><a href="/Admin/EmployTypeList">分类列表</a></li>
                    <li><a href="/Admin/EmployList">招聘列表</a></li>
                    <li><a href="/Admin/EmployAdd?id=0">招聘添加</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-cube"></span>&nbsp;新闻管理</a>
                <ul>
                    <li><a href="/Admin/NewsTypeList">分类列表</a></li>
                    <li><a href="/Admin/NewsList">新闻列表</a></li>
                    <li><a href="/Admin/NewsAdd?id=0">新闻添加</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-cube"></span>&nbsp;产品管理</a>
                <ul>
                    <li><a href="/Admin/ProductTypeList">分类列表</a></li>
                    <li><a href="/Admin/ProductList">产品列表</a></li>
                    <li><a href="/Admin/ProductAdd?id=0">产品添加</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href=""><span class="fa fa-fw fa-address-card"></span>&nbsp;会员管理</a>
                <ul>
                    <li><a href="/Admin/MemberList">会员列表</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
