
@{
    Layout = null;
}

@Styles.Render("~/bundles/css-lib")
@Scripts.Render("~/bundles/script-lib")

<script src="~/Plugin/layer/layer.js"></script>

<link href="~/Plugin/ngtable/css/ng-table.css" rel="stylesheet" />
<script src="~/Plugin/ngtable/js/ng-table.js"></script>

<link href="~/Content/member/member-public.css" rel="stylesheet" />
<script src="~/Scripts/member/member-public.js"></script>
<link href="~/Content/member/member-layout.css" rel="stylesheet" />
<script src="~/Scripts/member/member-setting.js"></script>

<div class="tp-content" ng-app="app" ng-controller="password">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="passwordModel.password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="passwordModel.confirmPassword">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <button type="submit" class="btn btn-sm btn-success" ng-click="Save()">保存</button>
            </div>
        </div>
    </form>
</div>